$color_1: inherit;
$background-color_1: transparent;

* {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0;
}
h4 {
  margin: 0;
}
h3 {
  width: fit-content;
  margin: 0;
}
p {
  margin: 0;
}
h5 {
  margin: 0;
}
ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
  }
}
ol {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
button {
  padding: 0;
  border: none;
  background-color: $background-color_1;
  cursor: pointer;
}
a {
  outline: none;
  // color: $color_1;
  text-decoration: none;
  &:link {
    outline: none;
    // color: $color_1;
    text-decoration: none;
  }
  &:visited {
    outline: none;
    color: $color_1;
    text-decoration: none;
  }
  &:focus {
    outline: none;
    color: $color_1;
    text-decoration: none;
  }
  &:active {
    outline: none;
    color: $color_1;
    text-decoration: none;
  }
}

.container {
  margin-left: 178px;
}
