@import "../../pages/help__page/cards/cards";
@import "../../settings/sizes";

.helped {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 106px;
    @media (max-width: $lg) {
      display: flex;
      padding-left: 50px;
    }
    @media (max-width: $xs) {
      padding-left: 10px;
    }
  }

  &__img {
    width: 480px;
    height: 800px;
    @media (max-width: $lg) {
      display: none;
    }
  }
  &__content {
    margin-top: 103px;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    @media (max-width: $xl) {
      width: 92%;
    }
    @media (max-width: $lg) {
      padding: 0;
      width: 90%;
      margin-top: 0;
      width: 90%;
    }
    @media (max-width: $sm) {
      margin-top: 25px;
    }
  }

  &__title {
    font-family: "Larsseit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 0.06em;

    color: #22356f;
  }

  &__text {
    margin: 225px 0 152px 0;
    font-family: "Larsseit";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.01em;

    color: #22356f;

    @media (max-width: $xl) {
      margin: 100px 0 150px 0;
    }
    @media (max-width: $lg) {
      margin: 50px 0 100px 0;
    }
    @media (max-width: $md) {
      font-size: 25px;
      line-height: 30px;
    }

    &-bl {
      color: #6cd3e1;
    }
  }
  &__link {
    font-family: "Larsseit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #fab63e;
    @media (max-width: $lg) {
      margin-bottom: 30px;
    }
  }
}
