@import "../../settings/sizes";
@import "../../settings/common";

.main__page {
  // width: 1440px;
  background: linear-gradient(90deg, #f4f9e2 80%, white 20%);

  @media (max-width: $lg) {
    background: #f4f9e2;
  }
}

.content {
  position: relative;
  z-index: 2;

  margin: 164px 0 0 0;
  display: grid;
  width: fit-content;
  @media (max-width: $lg) {
    grid-template-columns: none;
    z-index: 0;
  }
  @media (max-width: $sm) {
    margin-top: 50px;
  }

  &__name {
    margin: 0 0 41px;
    @media (max-width: $sm) {
      display: none;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin: 0 0 95px;
    font-family: "Larsseit";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 90%;
    letter-spacing: -0.035em;
    max-width: 484px;
    width: 100%;
    color: #22356f;
    @media (max-width: $lg) {
      font-size: 36px;
      max-width: 370px;
      margin-bottom: 50px;
    }
    @media (max-width: $sm) {
      font-size: 36px;
      max-width: 370px;
      margin-bottom: 20px;
    }
  }

  &__text {
    margin: 0 0 63px;
    font-family: "Larsseit";

    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    max-width: 469px;
    width: 100%;
    color: #22356f;

    @media (max-width: $sm) {
      font-size: 20px;
      max-width: 413px;
      margin-bottom: 30px;
    }

    @media (max-width: $xs) {
      width: 85%;
      font-size: 18px;
      margin-bottom: 17px;
      line-height: 25px;
      margin-top: 20px;
    }
  }

  //кнопки
  &__btns {
    margin-bottom: 75px;
    display: flex;
    width: 338px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $md) {
      width: 300px;
      margin-bottom: 40px;
    }
    @media (max-width: $md) {
      width: 270px;
    }

    &-active {
      width: 150px;
      height: 50px;

      justify-content: center;

      font-family: "Larsseit";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;

      color: #ffffff;
      background: #f9b640;

      @media (max-width: $md) {
        width: 90px;
        font-size: 13px;
      }

      @media (max-width: $sm) {
        height: 30px;
      }
      @media (max-width: $xs) {
        height: 25px;
        width: 80px;
        font-size: 11px;
      }
    }

    &-inactive {
      width: 150px;
      font-family: "Larsseit";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      background: transparent;
      color: #fab63e;
      @media (max-width: $md) {
        font-size: 13px;
      }
    }
  }
}

.bg-pos {
  display: flex;

  z-index: 0;

  margin: 0;
  width: 100%;

  justify-content: end;
}
.bg {
  z-index: 1;
  position: absolute;
  top: 0px;
  width: 807.71px;
  @media (max-width: $xxl) {
    width: 640px;
  }
  @media (max-width: $xl) {
    width: 520px;
  }
  @media (max-width: $lg) {
    display: none;
  }
}
